In [28]:
%load_ext lab_black

The lab_black extension is already loaded. To reload it, use:
  %reload_ext lab_black

In [29]:
import pandas as pd

# 1. Discretizing into equal-sized buckets

In [30]:
df = pd.DataFrame({"age": [2, 67, 40, 32, 4, 15, 82, 99, 26, 30, 50, 78]})
df["age_group"] = pd.qcut(df["age"], 3)
df.age_group.value_counts(), df.age_group

((1.999, 28.667]     4
 (28.667, 55.667]    4
 (55.667, 99.0]      4
 Name: age_group, dtype: int64,
 0      (1.999, 28.667]
 1       (55.667, 99.0]
 2     (28.667, 55.667]
 3     (28.667, 55.667]
 4      (1.999, 28.667]
 5      (1.999, 28.667]
 6       (55.667, 99.0]
 7       (55.667, 99.0]
 8      (1.999, 28.667]
 9     (28.667, 55.667]
 10    (28.667, 55.667]
 11      (55.667, 99.0]
 Name: age_group, dtype: category
 Categories (3, interval[float64, right]): [(1.999, 28.667] < (28.667, 55.667] < (55.667, 99.0]])

In [31]:
# 10%, 40%, 50%
df["age_group"] = pd.qcut(df["age"], [0, 0.1, 0.5, 1])
df.sort_values("age_group")

    age     age_group
0     2  (1.999, 5.1]
4     4  (1.999, 5.1]
3    32   (5.1, 36.0]
5    15   (5.1, 36.0]
8    26   (5.1, 36.0]
9    30   (5.1, 36.0]
1    67  (36.0, 99.0]
2    40  (36.0, 99.0]
6    82  (36.0, 99.0]
7    99  (36.0, 99.0]
10   50  (36.0, 99.0]
11   78  (36.0, 99.0]

# 3. Adding custom labels

In [32]:
labels = ["Millennial", "Gen X", "Boomer", "Greatest"]
df["age_group"] = pd.qcut(df["age"], [0, 0.1, 0.3, 0.6, 1], labels=labels)
df.sort_values("age_group")

    age   age_group
0     2  Millennial
4     4  Millennial
5    15       Gen X
8    26       Gen X
2    40      Boomer
3    32      Boomer
9    30      Boomer
1    67    Greatest
6    82    Greatest
7    99    Greatest
10   50    Greatest
11   78    Greatest

# 4. Returning bins with retbins=True

In [33]:
df["age_group"], bins = pd.qcut(df["age"], 5, retbins=True)
df, bins

(    age      age_group
 0     2  (1.999, 17.2]
 1    67   (46.0, 75.8]
 2    40   (30.8, 46.0]
 3    32   (30.8, 46.0]
 4     4  (1.999, 17.2]
 5    15  (1.999, 17.2]
 6    82   (75.8, 99.0]
 7    99   (75.8, 99.0]
 8    26   (17.2, 30.8]
 9    30   (17.2, 30.8]
 10   50   (46.0, 75.8]
 11   78   (75.8, 99.0],
 array([ 2. , 17.2, 30.8, 46. , 75.8, 99. ]))

# 5. Configuring the bin precision

In [34]:
df["age_group"] = pd.qcut(df["age"], 3, precision=0)
df

    age     age_group
0     2   (1.0, 29.0]
1    67  (56.0, 99.0]
2    40  (29.0, 56.0]
3    32  (29.0, 56.0]
4     4   (1.0, 29.0]
5    15   (1.0, 29.0]
6    82  (56.0, 99.0]
7    99  (56.0, 99.0]
8    26   (1.0, 29.0]
9    30  (29.0, 56.0]
10   50  (29.0, 56.0]
11   78  (56.0, 99.0]